<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <title>Runnable Starter Application</title>
    <link href="{{ url_for('static', filename='styles.css') }}" rel=stylesheet type=text/css></link>
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.png') }}">
  </head>
  <body>
    <div>
      <section>
        <h1>Hello World!</h1>
        <h2>Your web application is running!</h2>
        <p>Make a commit to see your changes show up below.</p>
      </section>
      <section>
        <p>Current branch: <b>{{ git.name }}</b></p>
        <p>Commit: <b>{{ git.shortSHA }}</b></p>
        <p>Commit author: <b>{{ git.lastCommitAuthor }}</b></p>
      </section>
    </div>
  </body>
</html>
