<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <title>Runnable Starter Application</title>
    <link href="{{ url_for('static', filename='style.css') }}" rel=stylesheet type=text/css></link>
    <link rel="shortcut icon" href="{{ url_for('static/images', filename='favicon.ico') }}">
  </head>
  <body>
    <div id="content">
      <section class="splash">
        <h2>Hello World!</h2>
        <h4>Your web application is running!</h4>
        <p>
          Make sure to
          <b>commit</b>
          or add a
          <b>branch</b>
          to see your changes show up below.
        </p>
      </section>
      <section class="info">
        <p>
          Current branch:
          <b>
            {{ name }}
          </b>
        </p>
        <p>
          Latest commit:
          <b>
            {{ shortSHA }}
          </b>
        </p>
        <p>
          Last commit author:
          <b>
            {{ lastCommitAuthor }}
          </b>
        </p>
      </section>
    </div>
  </body>
</html>
